h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d3d3d;
  font-family: "Outfit";
  font-weight: 300;
}
h1 {
  font-weight: 300;
}
h1::first-letter {
  text-transform: capitalize;
}

p {
  color: #4d4d4d;
  font-family: "Outfit";
  font-size: 1.08rem;
  letter-spacing: 0.06rem;
}

blockquote {
  font-style: italic;
  text-align: end;
  font-family: "Old Standard TT", serif;
  position: relative;
  padding: 1rem;
  padding-right: 2rem;

  z-index: 10;
  margin-right: 2rem;
}
blockquote p,
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  font-family: serif;
  font-weight: 600;
}
blockquote::before {
  content: '"';
  position: absolute;
  color: #9d9d9daf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 1;
  font-size: 120px;
  top: -3rem;
  right: 0rem;
}
